---
layout: default
title: 페이지 준비 중
permalink: /undercons/
---

<div class="construction-container">
  <div class="construction-wrapper">
    <div class="construction-image">
      <img
        src="{{ 'assets/images/constructioncat.png' | relative_url }}"
        alt="페이지 준비 중 이미지"
      />
    </div>
    <div class="construction-message">
      <div class="construction-message">
        <p>
          페이지 공사 중입니다...<br class="mobile-break" />
          빠른 시일 내에 찾아뵙겠습니다. 😭
        </p>
        <p class="english">The page is under construction.</p>
      </div>
    </div>
  </div>
</div>
